.button{
  background-color: var(--azul-medio);
  color: white;
  border: 0;
  padding: .8rem 3rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  cursor: pointer;

  transition: .2s ease-in-out;
}

.button:hover{
    transform: translateY(-.2rem);
    background-color: rgb(18, 98, 247);
}

.lg{
  padding: 1.5rem 2.75rem;
  font-size: 2.5rem;
  line-height: 1.125rem;
}