.button{
  background-color: var(--azul-medio);
  color: white;
  border: 0;
  padding: .8rem 3rem;
  min-height: 3.5rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  cursor: pointer
}


.lg{
  padding: 1.5rem 2.75rem;
  font-size: 2.5rem;
}