.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.2rem;
  background-color: white;
}

.menu_wrapper{
  display: flex;
  gap: 3rem;
}



@media (min-width: 768px){
  .header{
    height: 10.2rem;
  }
}